[submodule "eclipse_ws/scannerConfig"]
	path = eclipse_ws/scannerConfig
	url = https://github.com/cbsrbiobank/scannerConfig.git
[submodule "eclipse_ws/sampleProcessingRobot"]
	path = eclipse_ws/sampleProcessingRobot
	url = https://github.com/cbsrbiobank/sampleProcessingRobot.git
