# Global
MODE=DEVELOPMENT
COMPOSE_PROJECT_NAME=bb
uid=1000
gid=1000

LOG_LEVEL=DEBUG

DB_HOST=db
#DB_HOST=localhost
DB_PORT=3306
DB_ROOT_USER=root
DB_ROOT_PASSWORD=root
DB_NAME=biobank
DB_USER=changeme
DB_PASSWORD=changeme
