<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Properties for the session factory -->

		<!-- MySQL paramerters start -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/biobank</property>
		<!-- MySQL paramerters end -->

		<!-- HSQL DB paramerters start -->
		<!-- <property name="connection.driver_class">org.hsqldb.jdbcDriver</property> 
			<property name="connection.url">jdbc:hsqldb:data/biobank</property> -->
		<!-- HSQL DB paramerters end -->

		<property name="connection.username">dummy</property>
		<property name="connection.password">ozzy498</property>

		<property name="c3p0.max_size">10</property>
		<property name="c3p0.min_size">2</property>
		<property name="c3p0.timeout">5000</property>
		<!-- ZERO because when hibernate calls `result = conn.prepareStatement( 
			sql );` (in AbstractBatcher) a PreparedStatement is returned by c3p0 that 
			already has batches in it, so, if it was executed immediately, it would already 
			insert rows, even though we never told it to add any, see this bug: http://sourceforge.net/tracker/?func=detail&aid=3019762&group_id=25357&atid=383690 
			Possible fixes are for us to call clearBatch() on the ps, or to use another 
			connection pooler -->
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.idle_test_period">3000</property>
		<property name="c3p0.acquire_increment">2</property>
		<property name="c3p0.validate">false</property>
		<property name="show_sql">false</property>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="max_fetch_depth">1</property>
		<property name="bytecode.use_reflection_optimizer">false</property>
		<property name="jdbc.batch_versioned_data">true</property>
		<property name="jdbc.use_streams_for_binary">true</property>
		<property name="cache.use_query_cache">false</property>
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.ejb.naming_strategy">org.hibernate.cfg.DefaultComponentSafeNamingStrategy</property>
		<!-- Envers properties -->
		<property name="org.hibernate.envers.store_data_at_delete">true</property>
		<property name="org.hibernate.envers.do_not_audit_optimistic_locking_field">false</property>
		<property name="org.hibernate.envers.audit_table_suffix">_audit</property>
		<property name="org.hibernate.envers.revision_field_name">REVISION_ID</property>
		<property name="org.hibernate.envers.revision_type_field_name">REVISION_TYPE</property>
		<!-- Note that as of 3.6.10 the following configuration options were added 
			and should be regarded as experimental only... -->
		<property name="org.hibernate.envers.audit_strategy">org.hibernate.envers.strategy.ValidityAuditStrategy</property>
		<property
			name="org.hibernate.envers.audit_strategy_validity_end_rev_field_name">END_REVISION_ID</property>
		<property
			name="org.hibernate.envers.audit_strategy_validity_revend_timestamp_field_name">END_REVISION_TIME</property>
		<!-- Turn off default Hibernate Bean Validator, only apply constraints 
			to the database schema when generated with Hibernate -->
		<property name="javax.persistence.validation.mode">ddl</property>
		<!-- Mapped package loads package-info.java, which contains package-wide 
			information, such as, @TypeDefs -->
		<mapping package="edu.ualberta.med.biobank.model" />
		<!-- Mapped classes -->
		<mapping class="edu.ualberta.med.biobank.model.center.Center" />
		<mapping class="edu.ualberta.med.biobank.model.center.CenterComment" />
		<mapping class="edu.ualberta.med.biobank.model.center.CenterLocation" />
		<mapping class="edu.ualberta.med.biobank.model.center.Container" />
		<mapping class="edu.ualberta.med.biobank.model.center.ContainerComment" />
		<mapping class="edu.ualberta.med.biobank.model.center.ContainerConstraints" />
		<mapping class="edu.ualberta.med.biobank.model.center.ContainerSchema" />
		<mapping class="edu.ualberta.med.biobank.model.center.ContainerSchemaPosition" />
		<mapping class="edu.ualberta.med.biobank.model.center.ContainerTree" />
		<mapping class="edu.ualberta.med.biobank.model.center.ContainerType" />
		<mapping class="edu.ualberta.med.biobank.model.center.ProcessingEvent" />
		<mapping class="edu.ualberta.med.biobank.model.center.ProcessingEventComment" />
		<mapping class="edu.ualberta.med.biobank.model.center.ProcessingEventInputSpecimen" />
		<mapping class="edu.ualberta.med.biobank.model.center.Shipment" />
		<mapping class="edu.ualberta.med.biobank.model.center.ShipmentComment" />
		<mapping class="edu.ualberta.med.biobank.model.center.ShipmentContainer" />
		<mapping class="edu.ualberta.med.biobank.model.center.ShipmentContainerComment" />
		<mapping class="edu.ualberta.med.biobank.model.center.ShipmentSpecimen" />
		<mapping class="edu.ualberta.med.biobank.model.center.ShipmentSpecimenComment" />
		<mapping class="edu.ualberta.med.biobank.model.center.SpecimenContainer" />
		<mapping class="edu.ualberta.med.biobank.model.center.SpecimenContainerType" />
		<mapping class="edu.ualberta.med.biobank.model.center.StorageContainer" />
		<mapping class="edu.ualberta.med.biobank.model.center.StorageContainerType" />
		<mapping class="edu.ualberta.med.biobank.model.envers.Revision" />
		<mapping class="edu.ualberta.med.biobank.model.report.EntityColumn" />
		<mapping class="edu.ualberta.med.biobank.model.report.EntityFilter" />
		<mapping class="edu.ualberta.med.biobank.model.report.Entity" />
		<mapping class="edu.ualberta.med.biobank.model.report.EntityProperty" />
		<mapping class="edu.ualberta.med.biobank.model.report.PropertyModifier" />
		<mapping class="edu.ualberta.med.biobank.model.report.PropertyType" />
		<mapping class="edu.ualberta.med.biobank.model.report.ReportColumn" />
		<mapping class="edu.ualberta.med.biobank.model.report.ReportFilter" />
		<mapping class="edu.ualberta.med.biobank.model.report.ReportFilterValue" />
		<mapping class="edu.ualberta.med.biobank.model.report.Report" />
		<mapping class="edu.ualberta.med.biobank.model.security.Group" />
		<mapping class="edu.ualberta.med.biobank.model.security.Membership" />
		<mapping class="edu.ualberta.med.biobank.model.security.Principal" />
		<mapping class="edu.ualberta.med.biobank.model.security.Role" />
		<mapping class="edu.ualberta.med.biobank.model.security.User" />
		<mapping class="edu.ualberta.med.biobank.model.security.UserGroup" />
		<mapping class="edu.ualberta.med.biobank.model.study.CollectionEvent" />
		<mapping class="edu.ualberta.med.biobank.model.study.CollectionEventAnnotation" />
		<mapping class="edu.ualberta.med.biobank.model.study.CollectionEventAnnotationType" />
		<mapping class="edu.ualberta.med.biobank.model.study.CollectionEventComment" />
		<mapping class="edu.ualberta.med.biobank.model.study.CollectionEventType" />
		<mapping class="edu.ualberta.med.biobank.model.study.Patient" />
		<mapping class="edu.ualberta.med.biobank.model.study.PatientComment" />
		<mapping class="edu.ualberta.med.biobank.model.study.PatientAnnotation" />
		<mapping class="edu.ualberta.med.biobank.model.study.PatientAnnotationType" />
		<mapping class="edu.ualberta.med.biobank.model.study.ProcessingType" />
		<mapping class="edu.ualberta.med.biobank.model.study.Request" />
		<mapping class="edu.ualberta.med.biobank.model.study.RequestSpecimen" />
		<mapping class="edu.ualberta.med.biobank.model.study.Specimen" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenCollectionEvent" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenComment" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenGroup" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenGroupCollectionEventType" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenLink" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenLinkAnnotation" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenLinkAnnotationType" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenLinkType" />
		<mapping class="edu.ualberta.med.biobank.model.study.SpecimenLinkTypeAnnotationType" />
		<mapping class="edu.ualberta.med.biobank.model.study.Study" />
		<mapping class="edu.ualberta.med.biobank.model.study.StudyCenter" />
		<mapping class="edu.ualberta.med.biobank.model.AnatomicalSource" />
		<mapping class="edu.ualberta.med.biobank.model.Annotation" />
		<mapping class="edu.ualberta.med.biobank.model.AnnotationOption" />
		<mapping class="edu.ualberta.med.biobank.model.AnnotationType" />
		<mapping class="edu.ualberta.med.biobank.model.Comment" />
		<mapping class="edu.ualberta.med.biobank.model.PreservationType" />
		<mapping class="edu.ualberta.med.biobank.model.Setting" />
		<mapping class="edu.ualberta.med.biobank.model.ShippingMethod" />
		<mapping class="edu.ualberta.med.biobank.model.SpecimenType" />

		<event type="pre-update">
			<listener class="edu.ualberta.med.biobank.validator.BeanValidationHandler" />
			<listener
				class="edu.ualberta.med.biobank.model.listener.ValidEndRevisionListener" />
			<listener
				class="edu.ualberta.med.biobank.model.listener.EventMetaDataListener" />
		</event>
		<event type="pre-insert">
			<listener class="edu.ualberta.med.biobank.validator.BeanValidationHandler" />
			<listener
				class="edu.ualberta.med.biobank.model.listener.UpdateRevisionCommittedAtListener" />
			<listener
				class="edu.ualberta.med.biobank.model.listener.EventMetaDataListener" />
		</event>
		<event type="pre-delete">
			<listener class="edu.ualberta.med.biobank.validator.BeanValidationHandler" />
		</event>
		<event type="pre-collection-update">
			<listener class="edu.ualberta.med.biobank.validator.BeanValidationHandler" />
		</event>
		<event type="pre-collection-recreate">
			<listener class="edu.ualberta.med.biobank.validator.BeanValidationHandler" />
		</event>
		<event type="pre-collection-remove">
			<listener class="edu.ualberta.med.biobank.validator.BeanValidationHandler" />
		</event>
	</session-factory>
</hibernate-configuration>
