<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="biobank2"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.ualberta.med.biobank.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.ualberta.med.biobank.application"
            name="BioBank2">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.ualberta.med.biobank.rcp.Perspective"
            id="edu.ualberta.med.biobank.perspective"
            name="Biobank Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.LoginHandler"
            id="edu.ualberta.med.biobank.commands.login"
            name="Login">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.LogoutHandler"
            id="edu.ualberta.med.biobank.commands.logout"
            name="Logout">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.QuitHandler"
            id="edu.ualberta.med.biobank.commands.quit"
            name="Quit">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.SiteAddHandler"
            id="edu.ualberta.med.biobank.commands.addSite"
            name="Add Repository Site">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.StudyAddHandler"
            id="edu.ualberta.med.biobank.commands.addStudy"
            name="Add Study">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.ClinicAddHandler"
            id="edu.ualberta.med.biobank.commands.addClinic"
            name="Add Clinic">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.SearchHandler"
            id="edu.ualberta.med.biobank.commands.search"
            name="Search">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="edu.ualberta.med.biobank.menu.biobank"
               label="BioBank"
               mnemonic="B">
            <command
                  commandId="edu.ualberta.med.biobank.commands.login"
                  id="edu.ualberta.med.biobank.menu.login"
                  label="Login"
                  mnemonic="i"
                  style="push">
            </command>
            <command
                  commandId="edu.ualberta.med.biobank.commands.logout"
                  id="edu.ualberta.med.biobank.menu.logout"
                  label="Logout"
                  mnemonic="o"
                  style="push">
            </command>
            <command
                  commandId="edu.ualberta.med.biobank.commands.quit"
                  id="edu.ualberta.med.biobank.menu.quit"
                  label="Quit"
                  mnemonic="Q"
                  style="push">
            </command>
         </menu>
         <menu
               id="edu.ualberta.med.biobank.menu.administration"
               label="Administration"
               mnemonic="A">
            <menu
                  id="edu.ualberta.med.biobank.menu.site"
                  label="Repository Site"
                  mnemonic="i">
               <command
                     commandId="edu.ualberta.med.biobank.commands.addSite"
                     id="edu.ualberta.med.biobank.menu.addSite"
                     label="Add"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="edu.ualberta.med.biobank.commands.search"
                  id="edu.ualberta.med.biobank.menu.search"
                  label="Search"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="edu.ualberta.med.biobank.menu.configuration"
                  label="Configuration"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.views.SessionsView"
            id="edu.ualberta.med.biobank.views.SessionsView"
            name="Sessions"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.views.SearchView"
            id="edu.ualberta.med.biobank.views.SearchView"
            name="Search"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.ualberta.med.biobank.perspective">
         <view
               closeable="false"
               id="edu.ualberta.med.biobank.views.SessionsView"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false">
         </view>
         <view
               closeable="true"
               id="edu.ualberta.med.biobank.views.SearchView"
               minimized="false"
               moveable="true"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.ualberta.med.biobank.forms.SiteEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.SiteEntryForm"
            name="Site Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.SiteViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.SiteViewForm"
            name="Site View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ClinicEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ClinicEntryForm"
            name="Clinic Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ClinicViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ClinicViewForm"
            name="Clinic View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.StudyEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.StudyEntryForm"
            name="Study Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.StudyViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.StudyViewForm"
            name="Study View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ContainerTypeEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ContainerTypeEntryForm"
            name="ContainerType Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ContainerTypeViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ContainerTypeViewForm"
            name="ContainerType View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.PatientEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.PatientEntryForm"
            name="Patient Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.PatientViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.PatientViewForm"
            name="Patient View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.PatientVisitEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.PatientVisitEntryForm"
            name="Patient Visit Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.PatientVisitViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.PatientVisitViewForm"
            name="Patient Visit View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ContainerEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ContainerEntryForm"
            name="Container Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ContainerViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ContainerViewForm"
            name="Container View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.AddPalletSamplesEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.AddPalletSamplesEntryForm"
            name="Add Palette Samples Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.AssignSamplesLocationEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.AssignSamplesLocationEntryForm"
            name="Assign Samples Location Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.AddCabinetSampleEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.AddCabinetSampleEntryForm"
            name="Add Cabinet Samples Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.SampleViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.SampleViewForm"
            name="Sample View">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.eclipse.ui.examples.contributions.scheme"
            name="%scheme.info.name">
      </scheme>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="biobank2.biobank2"
            name="BioBank2">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="BioBank2">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.ualberta.med.biobank.preferences.GeneralConfigurationPreferencePage"
            id="edu.ualberta.med.biobank.preferences.gereral"
            name="General">
      </page>
      <page
            class="edu.ualberta.med.biobank.preferences.ScannerPreferencePage"
            id="edu.ualberta.med.biobank.preferences.gereral"
            name="Scanner">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.ualberta.med.biobank.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Preferences from Eclipse Update UI"
            id="edu.ualberta.med.biobank.activity.updateui"
            name="Update Preferences">
      </activity>
      <activityPatternBinding
            activityId="edu.ualberta.med.biobank.activity.updateui"
            pattern="org\.eclipse\.update\.ui/org\.eclipse\.update\..*PreferencePage">
      </activityPatternBinding>
      <activity
            description="Preferences from Eclipse IDE UI"
            id="edu.ualberta.med.biobank.activity.eclipseide"
            name="IDE General Preferences">
      </activity>
      <activityPatternBinding
            activityId="edu.ualberta.med.biobank.activity.eclipseide"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.preferencePages\.Workbench">
      </activityPatternBinding>
   </extension>
</plugin>
