<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="biobank2"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.ualberta.med.biobank.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.ualberta.med.biobank.application"
            name="BioBank2">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.ualberta.med.biobank.rcp.Perspective"
            id="edu.ualberta.med.biobank.perspective"
            name="Biobank Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.LoginHandler"
            id="edu.ualberta.med.biobank.commands.login"
            name="Login">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.LogoutHandler"
            id="edu.ualberta.med.biobank.commands.logout"
            name="Logout">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.QuitHandler"
            id="edu.ualberta.med.biobank.commands.quit"
            name="Quit">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.SiteAddHandler"
            id="edu.ualberta.med.biobank.commands.addSite"
            name="Add Site">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.StudyAddHandler"
            id="edu.ualberta.med.biobank.commands.addStudy"
            name="Add Study">
      </command>
      <command
            defaultHandler="edu.ualberta.med.biobank.handler.ClinicAddHandler"
            id="edu.ualberta.med.biobank.commands.addClinic"
            name="Add Clinic">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="edu.ualberta.med.biobank.menu.biobank"
               label="BioBank"
               mnemonic="B">
            <command
                  commandId="edu.ualberta.med.biobank.commands.login"
                  id="edu.ualberta.med.biobank.menu.login"
                  label="Login"
                  mnemonic="i"
                  style="push">
            </command>
            <command
                  commandId="edu.ualberta.med.biobank.commands.logout"
                  id="edu.ualberta.med.biobank.menu.logout"
                  label="Logout"
                  mnemonic="o"
                  style="push">
            </command>
            <command
                  commandId="edu.ualberta.med.biobank.commands.quit"
                  id="edu.ualberta.med.biobank.menu.quit"
                  label="Quit"
                  mnemonic="Q"
                  style="push">
            </command>
         </menu>
         <menu
               id="edu.ualberta.med.biobank.menu.administration"
               label="Administration"
               mnemonic="A">
            <menu
                  id="edu.ualberta.med.biobank.menu.site"
                  label="Site"
                  mnemonic="i">
               <command
                     commandId="edu.ualberta.med.biobank.commands.addSite"
                     id="edu.ualberta.med.biobank.menu.addSite"
                     label="Add"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.ualberta.med.biobank.views.SessionsView"
            id="edu.ualberta.med.biobank.views.SessionsView"
            name="Sessions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.ualberta.med.biobank.perspective">
         <view
               closeable="false"
               id="edu.ualberta.med.biobank.views.SessionsView"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.ualberta.med.biobank.forms.SiteEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.SiteEntryForm"
            name="Site Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.SiteViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.SiteViewForm"
            name="Site View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ClinicEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ClinicEntryForm"
            name="Clinic Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.ClinicViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.ClinicViewForm"
            name="Clinic View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.StudyEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.StudyEntryForm"
            name="Study Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.StudyViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.StudyViewForm"
            name="Study View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.StorageTypeEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.StorageTypeEntryForm"
            name="Storage Type Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.StorageTypeViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.StorageTypeViewForm"
            name="StorageType View">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.PatientEntryForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.PatientEntryForm"
            name="Patient Entry">
      </editor>
      <editor
            class="edu.ualberta.med.biobank.forms.PatientViewForm"
            default="false"
            id="edu.ualberta.med.biobank.forms.PatientViewForm"
            name="Patient View">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.eclipse.ui.examples.contributions.scheme"
            name="%scheme.info.name">
      </scheme>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="biobank2.biobank2"
            name="BioBank2">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="BioBank2">
         </property>
      </product>
   </extension>
</plugin>
