<!DOCTYPE html>
<html>
<body>
	<h1>Biobank</h1>
	<p>The Canadian BioSample Repository (CBSR) has processed and
		stored biospecimens since 2000. In 2008, CBSR began developing a
		comprehensive client-server Java application, named Biobank, to be
		used by nurses, lab technicians, researchers, and lab administrators.
		Biobank allows multiple users, operating at different computers and
		different locations, to simultaneously process and log thousands of
		specimens daily. Nurses can enter specimens into the system,
		technicians can process and transfer specimens, researchers can
		request specimens and view inventory information, and administrators
		can create comprehensive queries and manage users. Biobank is open
		source and free software, modelled on caTissue from the National
		Cancer Institute.</p>
	<p>Biobank is part of a larger effort by the CBSR to create a
		network for research collaboration, to facilitate standardization, and
		to provide help with lab setup, configuration, and training. The
		system is flexible and can be adapted for almost any storage
		application, whether it uses handwritten labels, barcodes, test tubes,
		cryovials, or glass slides to label and store specimens.</p>
	<p>Currently, CBSR uses Biobank to manage upwards of 480,000
		biospecimens and 14,000 patients across 27 studies in dozens of
		clinics and processing centers around the world (Canada, the United
		States, and Europe).</p>
</body>
</html>
