[mysqld]
bind-address=0.0.0.0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

general_log_file        = /var/lib/mysql.log
general_log             = 1

lower_case_table_names  = 1
