<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" type="text/css" media="screen"/>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
<title>Biobank</title>
</head>
<body>
	<div id="main">
		<p>The page content should be here</p>
	</div>

	<footer id="footer">
		<table>
			<tr>
				<td><a th:href="@{/home}" href="/home">Home</a></td>
				<td><a th:href="@{/j_spring_security_logout}">Logout</a></td>
			</tr>
		</table>
	</footer>

</body>
</html>

