<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM ".\log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

@ENABLE_CLM_LOGGER_CFG_GENERATION_START@
	<appender name="CLM_APPENDER"
		class="gov.nih.nci.logging.api.appender.jdbc.JDBCAppender">
		<param name="application" value="@CLM_PROJECT_NAME@" />
		<param name="maxBufferSize" value="1" />
		<param name="dbDriverClass" value="@CLM_DB_DRIVER@" />
		<param name="dbUrl" value="@CLM_DB_CONNECTION_URL@" />
		<param name="dbUser" value="@CLM_DB_USERNAME@" />
		<param name="dbPwd" value="@CLM_DB_PASSWORD@" />
		<param name="useFilter" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value=":: [%d{ISO8601}] %-5p %c{1}.%M() %x - %m%n" />
		</layout>
	</appender>
@ENABLE_CLM_LOGGER_CFG_GENERATION_END@	

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

<!--	
        <category name="CSM.Audit.Logging.Event.Authentication">
		<level value="info" />
		<appender-ref ref="CLM_APPENDER" />
	</category>
-->
@ENABLE_CLM_LOGGER_CFG_GENERATION_START@
	<category name="CSM.Audit.Logging.Event.Authorization">
		<level value="info" />
		<appender-ref ref="CLM_APPENDER" />
	</category>
	<category name="CSM.Audit.Logging.ObjectState.Authorization">
		<level value="INFO" />
		<appender-ref ref="CLM_APPENDER" />
	</category>
@ENABLE_CLM_LOGGER_CFG_GENERATION_END@

	<category name="org.apache.dbcp">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="com.mchange.v2.c3p0">
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</category>

	<logger name="org.hibernate">
		<level value="error" />
	</logger>

	<logger name="org.apache">
		<level value="error" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="error" />
	</logger>

	<logger name="org.hibernate.type">
		<level value="error" />
	</logger>

	<logger name="org.hibernate.tool.hbm2ddl">
		<level value="error" />
	</logger>

	<logger name="org.hibernate.cache">
		<level value="error" />
	</logger>

	<logger name="org.hibernate.jdbc">
		<level value="error" />
	</logger>

	<logger	name="org.hibernate.connection.DriverManagerConnectionProvider">
		<level value="error" />
	</logger>

	<logger name="gov.nih.nci">
		<level value="error" />
	</logger>
	
	<root>
		<priority value="error" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
